@import '/src/app/styles/mixins.scss';

.mainPage {
  box-sizing: border-box;
  padding: 10px;
  height: 100vh;
}

.content {
  padding-top: 150px;
  width: fit-content;
  margin: 0 auto;
}

.title {
  @include font-header;
}

.button {
  margin: 0 auto;
}

.yes {
  background-color: $colorGreenLight;
}

.no {
  background-color: $colorBlueLight;
}

.sighOutButton {
  margin-left: auto;
}

.streak {
  @include font-small;
}
